.badge-success {background-color: #5cb85c !important;}
.badge-warning {background-color: #f0ad4e !important;}
.badge-important {background-color: #d9534f !important;}
.badge-info {background-color: #337AB7 !important;}
.badge-stand {background-color: #999999 !important;}*/